@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a192f;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
  }
}